<div *ngIf="isAuthorized && !formSubmitted; else plsLogin">
  <!--  FORM BEGIN
  Always start with a regular form, no directives.
  Then add 1 field at a time, adding validation as you go! -->
  <form (ngSubmit)="create()" [formGroup]="reviewForm" class="form col-md-6">
    <!--    REVIEW TITLE INPUT
      FormControls have names represented by the keys of the FormGroup.
      Take a look at the controller to see how HTML here mirrors controls there.-->
    <div class="form-group">
      <label>Review Title:
        <input class="form-control" type="text" formControlName="reviewTitle" required>
      </label>
    </div>
    <!--    TODO: Improve :)-->
    <!--    REVIEW STARS INPUT -->
    <div class="form-group">
      <label>Stars:
        <input class="form-control" type="text" formControlName="stars" required>
      </label>
    </div>

    <!--    REVIEW INPUT
      FormControls have names represented by the keys of the FormGroup.
      Take a look at the controller to see how HTML here mirrors controls there.-->
    <div class="form-group">
      <label>Leave a review:
        <input class="form-control" type="text" formControlName="reviewText" required>
      </label>
    </div>

    <!--    REVIEW VALIDATION
      FormControls have names represented by the keys of the FormGroup.
      Take a look at the controller to see how HTML here mirrors controls there.-->
    <div *ngIf="reviewForm.controls.reviewText.invalid && reviewForm.controls.reviewText.dirty" class="alert alert-danger">
      Your opinion is wrong.
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
  <div *ngIf="reviewError">
    {{ reviewError }}
  </div>
</div>
<!-- TEMPLATE VARIABLES
  This is the syntax for creating an Angular template.
  The template is assigned to the variable plsLogin
  This will only display when the condition on line 1 is false.
  See: https://angular.io/api/common/NgIf#description -->
<ng-template #plsLogin>
  <h3>Reviews</h3>
</ng-template>
